@model CarImagesWeb.ViewModels.AccountViewModels.ResetPasswordViewModel

@{
    ViewData["Title"] = "Change password Page";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/login.css">
}

<div class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Change your password</p>
                <div class="d-flex justify-content-center">
                    <img src="~/logo_evision.png" style="width: auto; height: 50px;" class="m-3" alt="e-vision"/>
                </div>
                <form method="post" asp-action="ResetPassword">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input hidden="hidden" asp-for="Email">
                    <input hidden="hidden" asp-for="token">
                    <div class="input-group mb-3">
                        <input type="password" asp-for="NewPassword" class="form-control" placeholder="New password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Change Password</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                <!-- /.social-auth-links -->
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
</div>
<!-- /.login-box -->