@model CarImagesWeb.ViewModels.UpdateAssetsViewModel

@{
    ViewData["Title"] = "Assets";
}

<div class="container py-3">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Update New Assets</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form action="Manage" method="post" enctype="multipart/form-data">
            <div class="card-body">
                <div class="form-group">
                    <label for="sheet">File input</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input asp-for="File" type="file" accept="text/*, 
                                application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                                   class="custom-file-input" id="sheet">
                            <label asp-for="File" class="custom-file-label" for="sheet" id="sheet-name">
                                Choose file
                            </label>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="text-danger">
                            <ul>
                                @{
                                    var errors = ViewData.ModelState["Reset"]?.Errors;
                                    if (errors != null)
                                    {
                                        foreach (var error in errors)
                                        {
                                            <li>@error.ErrorMessage</li>
                                        }
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <input type="checkbox" asp-for="IsReset" checked hidden/>
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
        </form>
    </div>
    <!-- /.card -->
    <div class="card card-danger">
        <div class="card-header">
            <h3 class="card-title">Delete Specific Assets</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form action="Manage" method="post" enctype="multipart/form-data">
            <div class="card-body">
                <div class="form-group">
                    <label for="sheet">File input</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input asp-for="DeleteFile" type="file" accept="text/*, 
                                    application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                                   class="custom-file-input" id="delete-sheet">
                            <label asp-for="DeleteFile" class="custom-file-label" for="sheet" id="delete-sheet-name">
                                Choose file
                            </label>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="text-danger">
                            <ul>
                                @{
                                    var errors = ViewData.ModelState["Delete"]?.Errors;
                                    if (errors != null)
                                    {
                                        foreach (var error in errors)
                                        {
                                            <li>@error.ErrorMessage</li>
                                        }
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <input type="checkbox" asp-for="IsReset" hidden/>
                <button type="submit" class="btn btn-danger">Upload</button>
            </div>
        </form>
    </div>
        <!-- /.card -->
</div>

@section Scripts
{
    <script>
        $(function () {
            $('#sheet').change(function() {
                let file = $('#sheet')[0].files[0].name;
                $('#sheet-name').html(file);      
               
            });
            $('#delete-sheet').change(function() {
                let file = $('#delete-sheet')[0].files[0].name;
                $('#delete-sheet-name').html(file);          
            });
        });
    </script>
}