@section Styles
{
    <!-- Toastr -->
    <link rel="stylesheet" href="~/plugins/toastr/toastr.min.css">
    <style>
  /*A  gallery with max 5 columns*/
  .gallery{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    /* max 5 columns min 2 columns */
  }
  .image-container{
    width: 100%;
    position: relative;
    height: auto;
  }
  .download-check-box{
    position: absolute;
    top: 0;
    left: 10px;
    display: flex;
    justify-content: start;
    padding: 5px;
    width: 100%;
    height: auto;
    z-index: 2;
  }
  .delete_btn {
    position: absolute;
      top: 10px;
      right: 10px;
      z-index: 1000;
  }
  .image img{
    display: block;
    object-fit: cover;
    width:100%;
    height: 200px;
  }
  
  .resize{
    transition: all 0.5s linear;
  }
  </style>
}

<div class="container-fluid py-4 px-2" id="app">
    <div class="card card-outline card-primary">
        <div class="card-header">
            <h1 class="card-title">Images Gallery</h1>
        </div>
        <div class="card-body">
            <div class="row my-2">
                <div class="col-12 search-form">
                    <!--form with two inline radio buttons to select either vehicle or container
                    A drop down with a search to search for Vehicle and
                    a multi select drop down to select tags
                    and a search button-->
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-12 form-group clearfix d-flex justify-content-between align-items-center">
                            <div class="icheck-primary d-inline mr-3">
                                <input type="radio" id="Vehicles" v-model="imageCategory" name="ImageCategory" value="Vehicle" checked="checked" hidden>
                                <label for="Vehicles">Vehicles</label>
                            </div>
                            <div class="icheck-primary d-inline">
                                <input type="radio" id="Containers" v-model="imageCategory" name="ImageCategory" value="Container" hidden>
                                <label for="Containers">Containers</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-12">
                            <div class="form-group">
                                <div class="form-group" id="CountryDropdown">
                                    <label>Select Country</label>
                                    <select id="Country"
                                            class="form-control" name="Country" style="width: 100%;"
                                            v-model="selectedCountryCode">
                                        <option value="" selected="selected" id="countrychoose">Choose</option>
                                        <option v-for="val in countries" v-bind:key="val" v-bind:value="val">
                                            {{ val }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-12">
                            <div class="form-group">
                                <div class="form-group" id="VehicleDropdown">
                                    <label>Select {{imageCategory || 'Assets'}}</label>
                                    <select id="Asset"
                                            class="form-control select2" name="Asset" style="width: 100%;">
                                        <option value="" selected="selected" id="assetchoose">Choose</option>
                                        <option v-for="val in assets" v-bind:key="val.id" v-bind:value="val.id" :id="'country_option_' + val.id">
                                            {{ val.name+':'+val.code }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12">
                            <div class="form-group" id="TagDropdown">
                                <label>Select Tags</label>
                                <select id="AssetTags" class="select2" multiple
                                        data-placeholder="Choose" style="width: 100%;">
                                    <option v-for="tag in assetTags" v-bind:key="tag.id" v-bind:value="tag.id" :id="'tag_option_' + tag.id">{{tag.name+':'+tag.code}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-12 d-flex flex-column justify-content-end form-group">
                            <button class="btn btn-primary d-flex align-items-center resize justify-content-center" v-on:click="searchImages()">
                                <span class="mr-2">Search</span>
                                <span class="spinner-border spinner-border-sm" v-if="isSearching"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-12 d-flex justify-content-end">
                    <button class="btn btn-warning mr-2" v-on:click="deselectAll()">
                        Deselect All
                        <span>
                            <i class="fas fa-times-circle"></i>
                        </span>
                    </button>
                    <button class="btn btn-primary mr-2" v-on:click="selectAll()">
                        Select All
                        <span>
                            <i class="fas fa-check-circle"></i>
                        </span>
                    </button>
                    <button class="btn btn-success d-flex align-items-center resize" v-on:click="downloadImages()">
                        <span class="mr-2">Download</span>
                        <span class="mr-2" v-if="!isDownloading">
                            <i class="fas fa-download"></i>
                        </span>
                        <span class="spinner-border spinner-border-sm" v-if="isDownloading"></span>
                    </button>
                </div>
            </div>
            <div class="row my-2">
                <div class="gallery col-12">
                    <div v-for="(image,index) in images" v-bind:key="image" class="image-container card">
                        <div class="card-body p-1">
                            <button class="btn btn-sm btn-danger delete_btn" v-on:click="deleteClick(index)">
                                <i class="fa fa-trash"></i>
                            </button>
                            <div class="download-check-box icheck-primary">
                                <input type="checkbox" v-model="image.isSelected" v-bind:id="'img-'+index"
                                       v-bind:name="'img-'+index" alt="" hidden>
                                <label v-bind:for="'img-'+index"></label>
                            </div>
                            <div class="image border">
                                <button class="btn bg-transparent p-0 m-0" v-on:click="moreInfo(index)">
                                    <img v-bind:src="image.url" alt="">
                                </button>
                            </div>

                        </div>
                        <div class="card-footer p-2">
                            <div class="image-info d-flex pr-3">
                                <div class="col-10">
                                    <div class="row">
                                        <div class="badge badge-primary mr-1 mb-1">Country:{{image.country}}</div>
                                        <div class="badge badge-info mr-1 mb-1">Asset:{{image.asset}}</div>
                                        <div class="badge badge-warning mr-1 mb-1">Tag:{{image.tag}}</div>
                                    </div>
                                </div>
                                <div class="col-2 d-flex flex-column justify-content-center">
                                    <a v-bind:href="image.downloadUrl" target="_blank">
                                        <span class="badge badge-success p-2">
                                            <i class="fas fa-lg fa-arrow-alt-circle-down"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="images.length === 0 && initialSearch">
                        <h5 class="text-secondary">No images found</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <!-- Toastr -->
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <script src="~/lib/axios/axios.min.js"></script>
    <script src="~/js/image_gallery.js"></script>
}