@section Styles
{
    <link rel="stylesheet" href="~/lib/lightbox/css/lightbox.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="~/plugins/toastr/toastr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"/>
    <style>
  /*A  gallery with max 5 columns*/
  .gallery{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    /* max 5 columns min 2 columns */
  }
  .image-container{
    width: 100%;
    position: relative;
    height: auto;
  }
  .download-check-box{
    position: absolute;
    top: 0;
    left: 10px;
    display: flex;
    justify-content: start;
    padding: 5px;
    width: 100%;
    height: auto;
    z-index: 2;
  }
  .delete_btn {
    position: absolute;
      top: 10px;
      right: 10px;
      z-index: 1000;
  }
  .image img{
    display: block;
    object-fit: cover;
    width:100%;
    height: 200px;
  }
  
  .resize{
    transition: all 0.5s linear;
  }
  .modal-fullscreen {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  
  .modal-dialog {
    margin: 0;
    max-width: 100%!important;
    height: 90%;
    max-height: none;
  }
  
  .modal-content {
    width: 100%!important;
    height: 100%;
    border: none;
    overflow: scroll;
    border-radius: 0;
  }
  #modalImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .modal-body {
    max-height: 90%;
  }
  </style>
}

<div class="container-fluid py-4 px-2" id="app">
    
    @* modal *@
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="imageModalLabel">Image Modal</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img id="modalImage" src="" alt="Modal Image" />
          </div>
        </div>
      </div>
    </div>


    <div class="card card-outline card-primary">
        <div class="card-header">
            <h1 class="card-title">Images Gallery</h1>
        </div>
        <div class="card-body">
            <div class="row my-2">
                <div class="col-12 search-form">
                    <!--form with two inline radio buttons to select either vehicle or container
                    A drop down with a search to search for Vehicle and
                    a multi select drop down to select tags
                    and a search button-->
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-12 form-group clearfix d-flex justify-content-between align-items-center">
                            <div class="icheck-primary d-inline mr-3">
                                <input type="radio" id="Vehicles" v-model="imageCategory" name="ImageCategory" value="Vehicle" checked="checked" hidden>
                                <label for="Vehicles">Vehicles</label>
                            </div>
                            <div class="icheck-primary d-inline">
                                <input type="radio" id="Containers" v-model="imageCategory" name="ImageCategory" value="Container" hidden>
                                <label for="Containers">Containers</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-12">
                            <div class="form-group">
                                <div class="form-group" id="CountryDropdown">
                                    <label>Select Country</label>
                                    <select id="Country"
                                            class="form-control" name="Country" style="width: 100%;"
                                            v-model="selectedCountryCode">
                                        <option value="" selected="selected" id="countrychoose">Choose</option>
                                        <option v-for="val in countries" v-bind:key="val" v-bind:value="val">
                                            {{ val }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-12">
                            <div class="form-group">
                                <div class="form-group" id="VehicleDropdown">
                                    <label>Select {{imageCategory || 'Assets'}}</label>
                                    <select id="Asset"
                                            data-live-search="true"
                                            data-width="100%"
                                            data-actions-box="true"
                                            data-placeholder="Choose"
                                            class="form-control" name="Asset" style="width: 100%;">
                                        <option value="" selected="selected">Choose</option>
                                        <option v-for="val in assets" v-bind:key="val.id" v-bind:value="val.id" :id="'country_option_' + val.id">
                                            {{ val.code+' : '+val.stock }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12">
                            <div class="form-group d-flex flex-column" id="TagDropdown">
                                <label>Select Tags</label>
                                <select id="AssetTags" class="selectpicker" multiple
                                        data-live-search="true"
                                        data-width="100%"
                                        data-actions-box="true"
                                        data-placeholder="Choose" style="width: 100%;">
                                    <option v-for="tag in assetTags" v-bind:key="tag.id" v-bind:value="tag.id" :id="'tag_option_' + tag.id">{{tag.name+':'+tag.code}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-12 d-flex flex-column justify-content-end form-group">
                            <button class="btn btn-primary d-flex align-items-center resize justify-content-center" v-on:click="searchImages()">
                                <span class="mr-2">Search</span>
                                <span class="spinner-border spinner-border-sm" v-if="isSearching"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-12 d-flex justify-content-end">
                    <button class="btn btn-warning mr-2" v-on:click="deselectAll()">
                        Deselect All
                        <span>
                            <i class="fas fa-times-circle"></i>
                        </span>
                    </button>
                    <button class="btn btn-primary mr-2" v-on:click="selectAll()">
                        Select All
                        <span>
                            <i class="fas fa-check-circle"></i>
                        </span>
                    </button>
                    <button class="btn btn-success d-flex align-items-center resize" v-on:click="downloadImages()">
                        <span class="mr-2">Download</span>
                        <span class="mr-2" v-if="!isDownloading">
                            <i class="fas fa-download"></i>
                        </span>
                        <span class="spinner-border spinner-border-sm" v-if="isDownloading"></span>
                    </button>
                </div>
            </div>
            <div v-for="block in images" class="col">
                <h5>Tag: {{block[0]}}</h5>
                <div class="row my-2">
                    <div class="gallery col-12">
                        <div v-for="(image,index) in block[1]" v-bind:key="image" class="image-container card">
                            <div class="card-body p-1">
                                @if (User.IsInRole("Admin"))
                                {
                                    <button class="btn btn-sm btn-danger delete_btn" v-on:click="deleteClick(image.uploadId)">
                                        <i class="fa fa-trash"></i>
                                        <span class="spinner-border spinner-border-sm ml-2" v-if="getDeletingIndex === image.uploadId"></span>
                                    </button>
                                }
                                <div class="download-check-box icheck-primary">
                                    <input type="checkbox" v-model="image.isSelected" v-bind:id="image.uploadId + '-img-'+index"
                                           v-bind:name="'img-'+index" alt="" hidden>
                                    <label v-bind:for="image.uploadId + '-img-'+index"></label>
                                </div>
                                <div class="image border">
                                    <button class="btn bg-transparent p-0 m-0" v-on:click="moreInfo(image.uploadId)">
                                 <img id="previewimg" v-bind:src="image.url" alt="">
                                    </button>
                                </div>

                            </div>
                            <div class="card-footer p-2">
                                <div class="image-info d-flex pr-3">
                                    <div class="col-10">
                                        <div class="row">
                                            <div class="badge badge-primary mr-1 mb-1">Country:{{image.country}}</div>
                                            <div class="badge badge-info mr-1 mb-1">Asset:{{image.asset}}</div>
                                            <div class="badge badge-warning mr-1 mb-1">Tag:{{image.tag}}</div>
                                        </div>
                                    </div>
                                    <div class="col-2 d-flex flex-column justify-content-center">
                                        <a v-bind:href="image.downloadUrl" target="_blank">
                                            <span class="badge badge-success p-2">
                                                <i class="fas fa-lg fa-arrow-alt-circle-down"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-if="images.length === 0 && initialSearch">
                            <h5 class="text-secondary">No images found</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <!-- Toastr -->
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <script src="~/lib/axios/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script src="~/js/image_gallery.js"></script>

    <script>
    $('#AssetTags').selectpicker();
    $('#Asset').selectpicker();
    $('#Asset').on('change', function() {
        const tagIds = []
        $('#AssetTags option').each(function () {
            if ($(this).val() !== '') {
                tagIds.push($(this).val())
            }
           
        })
        const body = {
                    tagIds: tagIds.map(id => parseInt(id)),
                    assetId: parseInt(this.value)
                }
        console.log(body)
        axios.post(`/api/TagsApi/GetTagsWithCountForVehicle`, body).then(resp => {
            resp.data.data.forEach(tag => {
                $(`#AssetTags option[value='${tag.id}']`).text(tag.name)
                 $('#AssetTags').selectpicker('refresh');
            })
            
        }).catch(err => {
            console.log(err)
        })
    })
    </script>
    <script src="~/lib/lightbox/js/lightbox.js"></script>
    <script defer="defer">
    lightbox.option({
      albumLabel: 'Image %1 of %2',
      alwaysShowNavOnTouchDevices: false,
      fadeDuration: 600,
      fitImagesInViewport: true,
      imageFadeDuration: 600,
      maxWidth: 800,
      maxHeight: 600,
      positionFromTop: 50,
      resizeDuration: 700,
      showImageNumberLabel: true,
      wrapAround: false, // If true, when a user reaches the last image in a set, the right navigation arrow will appear and they will be to continue moving forward which will take them back to the first image in the set.
    
      sanitizeTitle: false
    })
    </script>
}