@section Styles
{
  <style>
  /*A  gallery with max 5 columns*/
  .gallery{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* max 5 columns min 2 columns */
  }
  .image-container{
  padding: 5px;
  width: 100%;
    position: relative;
    height: auto;
  }
  .download-check-box{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: end;
    padding: 5px;
    width: 100%;
    height: auto;
    z-index: 2;
  }
  .image img{
    display: block;
    object-fit: cover;
    width:100%;
    height: 200px;
  }
  </style>
}

<div class="container-fluid">
  <div class="row my-2">
    <div class="col-12 search-form">
      <div class="card">
        <!--form with two inline radio buttons to select either vehicle or container
        A drop down with a search to search for Vehicle and
        a multi select drop down to select tags
        and a search button-->
        <div class="card-body">
          <div class="row">
            <div class="col-12 mb-2 text-gray-dark">
              <h3>Image Gallery</h3>
            </div>
            <div class="col-lg-4 col-md-6 col-12 form-group clearfix d-flex justify-content-between align-items-center">
              <div class="icheck-primary d-inline mr-3">
                <input type="radio" id="Vehicles" name="ImageCategory" value="Vehicles" hidden>
                <label for="Vehicles">Vehicles</label>
              </div>
              <div class="icheck-primary d-inline">
                <input type="radio" id="Containers" name="ImageCategory" value="Containers" hidden>
                <label for="Containers">Containers</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-5 col-12">
              <div class="form-group">
                <div class="form-group" id="VehicleDropdown">
                  <label>Vehicle</label>
                  <select id="VehicleType" class="form-control select2" name="VehicleType" style="width: 100%;">
                    <option selected="selected" value="">-- Select Vehicle --</option>
                    <!-- Bind options to the list of vehicle types in the view model -->
                    <option value="">CID/123</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-12">
              <div class="form-group" id="TagDropdowns">
                <label>Select Tag</label>
                <select class="select2" multiple="multiple" data-placeholder="Select Container Tags" style="width: 100%;">
                  <!-- Bind options to the list of vehicle types in the view model -->
                  <option>Front</option>
                  <option>Front</option>
                  <option>Front</option>
                </select>
              </div>
            </div>
            <div class="col-lg-2 col-12 d-flex flex-column justify-content-end form-group">
              <button class="btn btn-primary">Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-12 d-flex justify-content-end">
      <h5 class="btn btn-warning mr-2">Deselect All</h5>
      <h5 class="btn btn-primary">Select All</h5>
    </div>
  </div>
  <div class="row my-2">
    <div class="gallery col-12">
      @for (int i = 0; i < 10; i++)
      {
        <div class="image-container">
          <div class="download-check-box icheck-primary">
            <input type="checkbox" value="image-url" id="url-@i" name="url-@i" alt="image-url" hidden>
            <label for="url-@i"></label>
            @* image url goes here *@
          </div>
          <div class="image border border-dark">
            <img src="~/dist/img/prod-2.jpg" alt="">
          </div>
        </div>
      }
    </div>
  </div>
</div>

